* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
}

header {
    background-color: cyan;
    margin: 0;
}

header h1 {
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: black; 
}

.section-formulario {
    padding: 10px 0;
    text-align: center;
    margin: auto;
    width: 70%;
}

.section-forulario p {
    font-size: 1em;
}

.section-formulario input, select {
    border-style: solid;
    border-color: lightseagreen;
    border-width: 1.8px;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px;
}

.section-formulario input {
    padding-left: 5px;
}

.section-formulario input:focus, select:focus {
    border-color: blue;
    outline: none;
}

.div-form-opcion {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.div-form-opcion select, input {
    font-size: 1em;
}

.div-form-opcion select {
    width: 30%;
}

.div-form-opcion input {
    width: 65%;
}

.div-form-lugar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.div-form-lugar select, input{
    width: 30%;
    font-size: 1em;
    padding-left: 5px;
}

.div-form-submit {
    text-align: center;
    margin-top: 10px;
}

.div-form-submit input {
    display: block;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: lightseagreen;
    color: white;
}

.section-tabla {
    font-size: 8px;
}

.div-resultados-text {
    font-size: 20px;
    text-align: center;
}

.divTable{
	display: table;
	width: 100%;
    padding: 10px;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

.div-text-center {
    text-align: center;
}

.tab-codigo {
    width: 5%;
    text-align: center;
}

.tab-nombre {
    width: 20%;
}

.tab-gestion {
    width: 4%;
    text-align: center;
}

.tab-estado {
    width: 7%;
    text-align: center;
}

.tab-inicio {
    width: 8%;

}

.tab-fin {
    width: 8%;
}

.tab-periodo {
    width: 7%;
}

.tab-departamento {
    width: 5%;
}

.tab-provincia {
    width: 7%;
}

.tab-distrito {
    width: 7%;
}

.tab-ubigeo {
    width: 3%;
    text-align: center;
}

.tab-latitud {
    width: 4%;
    text-align: center;
}

.tab-longitud {
    width: 4%;
    text-align:center;
}

.tab-corte {
    text-align:center;
}

.tab-dir {
    text-align: center;
}